

<section>
	<div class="entry-block bg-overlay">
		
		<div class="start-wrapper">
				
				<form method="post" action="/process-login">

						<div class="flex-container form-wrapper">
					
							<div class="column-this">
								<div class="flex-container form-section-wrapper">
										<label for="email-input"> Email </label>
										<input id="email-input" type="email" name="loginEmail" />
								</div> <!-- flex-container form-section-wrapper -->	

								<div class="flex-container form-section-wrapper">
									<label for="password-input"> Password </label>
									<input id="password-input" type="password" name="loginPassword" />
								</div> <!-- flex-container form-section-wrapper -->
							</div> <!-- column-this -->

							<div class="form-section-wrapper-btn">
								<button class=" green-btn circle-btn btn"> <i class="fa fa fa-rocket" aria-hidden="true"></i> </button>
							</div> <!-- form-section-wrapper-btn -->

						</div> <!-- flex-container form-wrapper -->
					
				</form>

		</div> <!-- start-wrapper -->
		
	</div> <!-- splash-light entry-block -->
</section>



<section>
	<div class="start-wrapper">
		<div class="flex-container col-container">


			<div class="col-big splash-content-box-bottom">

				<div class="flex-container splash-o-light outline-s-o-l content-box-top-big">
					<div class="align-title-with-effect">
						
							<div class="falling-text-container">
							  <div class="moveit">Slack Sloth</div>
							  <div class="moveit">Slack Sloth</div>
							  <div class="moveit">Slack Sloth</div>
							  <div class="moveit">Slack Sloth</div>
							  <!-- <span class="text">Scroll down</span> -->
							</div>
					

						<h4>The Life Of Sloth</h4>
					</div> <!-- align-title-with-effect -->
				</div> <!-- flex-container splash-o-light outline-s-o-l content-box-top-big -->

				<div class="content-box-bottom">
					<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et!</p>
				</div> <!-- content-box-bottom -->
			</div> <!-- col-big -->


			<div class="col-small splash-content-box-bottom">
				<div class="flex-container splash-dark outline-s-d content-box-top-small">
					<h4>World Domination</h4>
				</div> <!-- content-box-top -->

				<div class="content-box-bottom">
					<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et!</p>
				</div> <!-- content-box-bottom -->
				
			</div> <!-- col-small -->


		</div> <!-- flex-container col-container -->
	</div> <!-- start-wrapper -->

</section>

 
<div class="temp-empty-section"> 
			
				<div class="real-sloth-wrapper">
					<img src="../images/Sloth.png" />
				</div>
			

</div>


<section>
	<div class="splash-o-light what-we-do entry-block ">

			<div class="start-wrapper">

				<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>


			</div> <!-- start-wrapper -->

	</div> <!-- splash-o-light -->
</section>

