<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="https://use.fontawesome.com/0c43b3eb42.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/vie6fzg.css">
    <link rel="stylesheet" href="/stylesheets/falling-text.css">
    <link rel="stylesheet" href="/stylesheets/log-in-form.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

		<header>
			<div class="flex-container contain-large header-wrapper">
				<h1><%= title %></h1>
				<nav>
					<ul>
							<div class="effect-container circleBehind">
								<li><a href="/">Home</a></li>
							

								<% if (currentUser) { %>
								<li><a href="/logout">Log Out</a></li>
								<li class="user-email-nav-fancy"> <span class="user-email-nav"> <%= currentUser.email %></span> </li>
								<% } else { %>
								<li><a href="/signup">Sign Up</a></li>
								 <% } %>


							</div> <!-- Circle End -->
					</ul>
				</nav>
			</div> <!-- flex-container contain-large -->
		</header>


    	<%- body %>

	    <footer class="splash-o-dark">
	  	Made With Sloth 💩 
	    </footer>


  </body>
</html>
