/* ==========
==== General 
 ========= */
.btn {
    display: inline-block;
    -webkit-transition: box-shadow 0.2s ease;-moz-transition: box-shadow 0.05s ease;
    transition: all 0.2s ease;
    font-size: 18px;
}
.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  opacity: 0.9;
}
.btn:active {
  box-shadow: none; 
}

/* ==========
==== Optional  
 ========= */
 
.full-width-btn {
  width: 100%;
}

/* ==========
==== Circle 
 ========= */

.circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color:#f5f5f5;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none; padding: 0px;
}

.circle-btn .fa {
  font-size: 25px;
}



/* ==========
==== Square 
 ========= */

.sqr-btn {
    padding: 5px 8px;
    color: #F5F5F5;
    margin: 4px;
    font-size: 21px;
}

.sqr-btn .fa {
  font-size: 24px;
  padding-left: 5px;
}

/* ==========
==== Colors
 ========= */

.green-btn {
    background-color: #4CAF50;
}

.a-trans-btn {
    background-color: transparent;
    color: #0096d6;
}
.a-bad-hov:hover {
  color: #d0021b; /* Error color red */
}
.a-green-hov:hover {
  color: #4CAF50; 
}


/* ==========
==== a link style 
 ========= */
.a-btn {
    display: inline-block;
    -webkit-transition: box-shadow 0.2s ease;-moz-transition: box-shadow 0.05s ease;
    transition: all 0.2s ease;
    font-size: 18px;
}
.a-btn:hover {
    opacity: 0.7;
    text-decoration: underline;
}
/*.a-btn:active {
  box-shadow: none; 
}*/







