
.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}


/* ===========Log In Form================== */
/*h2.login-form-title {
    margin: 0;
    font-size: 28px;
}*/


.form-wrapper {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 50%;
  max-width: 350px;
  position: relative; /* to make background pattern opacity not effect it */
}

.column-this {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 185px;
}


.form-section-wrapper {
  flex-direction: column;
  text-align: left;
}

.form-section-wrapper-btn {
  align-self: center;
}
  
  label {
    color: #333;
    font-weight: 900;
/*    display:block;
    position:absolute;
    top:0.5em;
    left:-110%;
    text-align:right;
    height: 25px;
    width:100%;
    padding:0 3%;
    color: #eee;*/
  }
  



input {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: .5em;
  color: #777;
  border: .08em solid rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: .5em;
}













/* ==============END=============== */


/*==========  /Signup ======== */

h2.form-title {
    margin-bottom: 32px;
    margin-top: 22px;
    font-size: 28px;
}

.signup-container {
  margin: 0 auto;
    margin-top: 85px;
  justify-content: center;
  box-shadow: 0 2px 0 rgba(0,0,0,0.06);
  padding: 30px;
  border-radius: 4px;
  flex-direction: column;
  width: 30%;
  align-items: center;
  transition: background-color 0.3s ease;
  background: #f9f9f9;
}

.sign-up-btn-wrap {
    justify-content: flex-end;
    margin-top: 28px;
    margin-bottom: 22px;
}
.one-field-wrap {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-style {
  min-width: 185px;
}
.label-wrap {
  min-width: 145px;
}

.empty-block {
  padding:100px;
}