

<section>
	<div class="entry-block bg-overlay">
		<div class="start-wrapper not-trans">
			<div class="info-form-card-style">
				
					<div class="title-card-style-wrap">
						<h3 class="title-card-style"> Add </h3>
					</div>

	 			<%- include('../mixins/_slackInfoForm'); %>
			</div>
		</div>
	</div>
</section>



	<div class="contain-page">

		<%- include('../mixins/_slackEntryList'); %>

	</div> <!-- contain-page -->



