

<div class="flex-container signup-container">
  <h2 class="form-title"> Sign Up </h2>

    <div class="flex-container">

      <form id="form" method="post" action="/process-signup">

        <div class="one-field-wrap">
          <label for="full-name-input" class="label-wrap"> Full Name </label>
          <input  id="full-name-input" type="text" placeholder="e.g. Mr Sloth"
              name="signupFullName" class="input-style" />
        </div> <!-- one-field-wrap -->
       
        <div class="one-field-wrap">
          <label for="email-input" class="label-wrap"> Email Address </label>
          <input  id="email-input" type="email" placeholder="e.g. sloth@slacksloth.com"
              name="signupEmail" class="input-style" />
        </div> <!-- one-field-wrap -->

        <div class="one-field-wrap">
          <label for="password-input" class="label-wrap"> Password </label>
          <input  id="password-input" type="password" placeholder="e.g. @slothlover1"
              name="signupPassword" class="input-style" />
       </div> <!-- one-field-wrap -->

      <% if (typeof errorMessage !== "undefined") { %>
        <div class="error-message">
          <%= errorMessage %>
        </div>
      <% } %>

      <div class="flex-container sign-up-btn-wrap">
        <button class=" green-btn sqr-btn btn full-width-btn"> Sloth Me <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> </button>
      </div>

      </form>
    </div> <!-- flex-container -->
</div> <!-- flex-container signup-container -->


<div class="empty-block"> <br /> </div>
              