<form method="post" action="/process-slackInfoForm">
	<div class="flex-container info-form-container">


		<div class="flex-container info-top-and-bottom-wrap">



			<div class="flex-container info-form-top">	
			  <label for="url-input"> Team URL </label>
		    <input  id="url-input" type="text" placeholder="wynwood-tech" name="slackTeamURL"/>
		    	<div class="slackDotCom">.Slack.com</div>
		  </div> <!-- info-form-top -->

		    


			<div class="flex-container info-form-bottom">

				<div class="flex-container info-email-wrap">
					<label for="email-input"> Email </label>
					<input id="email-input" type="email" name="slackTeamEmail">
				</div> <!-- info-email-wrap -->



				<div class="flex-container info-password-wrap">
					<label for="password-input"> Password </label>
					<input id="password-input" type="password" name="slackTeamPassword">
				</div> <!--  info-password-wrap -->

			</div> <!-- info-form-bottom -->




		</div> <!-- info-top-and-bottom-wrap -->

		<div class="flex-container slack-save-btn-wrap">
			<button class=" green-btn circle-btn btn"> <i class="fa fa-plus-circle" aria-hidden="true"></i> </button>
	</div>


	</div> <!-- info-form-wrapper -->
</form>


